/* BANNER SECTION */
.banner-section {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Hero Section */
.hero-section {
  margin: auto;
  width: 90%;
  padding: 20px 20px;
  text-align: center;
}

.hero-content {
  padding: 20px;
  /* background: #27272A; */
  background: #151A24;
  
  border-radius: 15px;
  /* box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2); */
  /* box-shadow: 0 10px 25px #121212; */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #ffffff;
}

.hero-content .about-cards {
  margin-top: 40px;
}

.content-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-row .about-section {
  flex: 1;
  min-width: 300px;
}

.profile-img {
  flex: 1;
  max-width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  margin: 0 auto;
}

.btn-explore {
  margin-top: 50px;
  width: 200px;
  display: inline-block;
  padding: 15px 35px;
  /* background: #3396ff; */
  background: #fccc59;
  /* color: white; */
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-explore:hover {
  background: #d1963f;
  transform: translateY(-3px);
}


/* BUTTON */
.btn-youtube {
  display: inline-block;
  padding: 15px 35px;
  background: #fccc59;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.btn-about {
  margin-right: 10px;
  display: inline-block;
  padding: 15px 35px;
  background: #fccc59;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-youtube:hover {
  background: #d1963f;
  transform: translateY(-3px);
}

.btn-about:hover {
  background: #d1963f;
  transform: translateY(-3px);
}


/* ABOUT SECTION */
.about-section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.about-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* background: #F9FAFB33; */
  background: #1E2533;
  flex: 1 1 250px;
  padding: 25px;
  border-radius: 12px;
  /* box-shadow: 0 15px 30px rgba(255, 255, 255, 0.08); */
  /* box-shadow: 0 15px 30px #1F1F1F; */
    border: 1px solid #2A3245;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card:hover {
  /* background: #232B3D; */
  transform: translateY(-2px);
}

.card i {
  font-size: 2rem;
  color: #3396ff;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #ffffff;
}

.card p {
  font-size: 1rem;
  color: #ffffff;
}


/* RESPONSIVE */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}
