/* BANNER SECTION */
.banner-section {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT SECTION */
.about-section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.about-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  flex: 1 1 250px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.card i {
  font-size: 2rem;
  /* color: #2563eb; */
  color: #3396ff;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.card p {
  font-size: 1rem;
  color: #4b5563;
}


/* Hero Section */
.hero-section {
  margin: auto;
  width: 90%;
  padding: 20px 20px;
  text-align: center;
  background: #f0f4ff;
}

.hero-content {
  padding: 20px;
  background: rgba(255,255,255,0.85);
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #1f2937;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #1f2937;
}

.hero-content .about-cards {
  margin-top: 40px;
}

.content-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-row .about-section {
  flex: 1;
  min-width: 300px;
}

.profile-img {
  flex: 1;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  margin: 0 auto;
}


.btn-youtube {
  display: inline-block;
  padding: 15px 35px;
  /* background: #2563eb; */
  background: #3396ff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-youtube:hover {
  /* background: #1e40af; */
  background: #3396ff;
  transform: translateY(-3px);
}

.btn-explore {
  margin-top: 50px;
  width: 200px;
  display: inline-block;
  padding: 15px 35px;
  /* background: #2563eb; */
  background: #3396ff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-explore:hover {
  /* background: #1e40af; */
  background: #3396ff;
  transform: translateY(-3px);
}




/* BUTTON */
.btn-youtube {
  display: inline-block;
  padding: 15px 35px;
  /* background: #2563eb; */
  background: #3396ff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-youtube:hover {
  /* background: #1e40af; */
  background: #3396ff;
  transform: translateY(-3px);
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}
