.topics-details-section {
  display: flex;
  margin: 40px;
  width: auto;
  /* background: #ffffff; */
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}

.topics-details-section h2 {
  color: #3396ff;
}

.topic-theory {
  width: 65%;
}

.topic-video {
  width: 30%;
}
